<configuration>

    <!-- Spring Boot's default variables + color converters (%clr, etc.) -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %clr(%d{HH:mm:ss.SSS}){faint} %clr([%thread]){faint} %clr(%-5level) %clr(%logger{36}){cyan} %clr(-){faint} %kvp %msg%n%wEx
            </pattern>
        </encoder>
    </appender>

    <!-- Change level to INFO if DEBUG is too noisy -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>